body {
  background-color: #e9ecef;
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

hr {
  border-top: 1px solid rgba(255, 255, 255, .1);
}

.primary {
  background-color: #8d6e63;
  color: white;
}

.primary.dark {
  background-color: #5f4339;
}

.primary.light {
  background-color: #be9c91;
  color: black;
}

.secondary {
  background-color: #546e7a;
  color: white;
}

.secondary.light {
  background-color: #819ca9;
  color: black;
}

.main.container {
  margin: 30px auto 100px auto;
}

.live-stream-wrapper {
  height: 70vh;
  width: 70vw;
}