body {
  background-color: #e9ecef;
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

hr {
  border-top: 1px solid rgba(255, 255, 255, .1);
}

a.btn.secondary:hover {
  background-color: #29434e;
  color: white;
}

.primary {
  background-color: #8d6e63;
  color: white;
}

.primary.dark {
  background-color: #5f4339;
}

.primary.light {
  background-color: #be9c91;
  color: black;
}

.secondary {
  background-color: #546e7a;
  color: white;
}

.secondary.light {
  background-color: #819ca9;
  color: black;
}

.secondary.dark {
  background-color: #29434e;
}

.main.container {
  margin: 30px auto 250px auto;
}

.btn-footer-group {
  width: 100%;
}

.btn-footer {
  display: block;
  width: 100%;
}

.live-stream-wrapper {
  height: 70vh;
  width: 70vw;
}

@media only screen and (min-width: 1200px) {
  .main.container {
    margin: 30px auto 75px auto;
  }

  .btn-footer-group {
    width: auto;
  }

  .btn-footer {
    display: inline-block;
    width: auto;
  }
}