html {
  min-height: 100vh;
  position: relative;
}

body {
  background-color: #e9ecef;
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

hr {
  border-top: 1px solid rgba(255, 255, 255, .1);
}

footer {
  position: absolute;
  bottom: 0;
  max-width: 100% !important;
}

a.btn.secondary:hover {
  background-color: #29434e;
  color: white;
}

.display-4 {
  font-size: 3rem;
}

.btn-lg {
  font-size: initial;
}

.primary {
  background-color: #8d6e63;
  color: white;
}

.primary.dark {
  background-color: #5f4339;
}

.primary.light {
  background-color: #be9c91;
  color: black;
}

.secondary {
  background-color: #546e7a;
  color: white;
}

.secondary.light {
  background-color: #819ca9;
  color: black;
}

.secondary.dark {
  background-color: #29434e;
}

.main.container {
  margin: 30px auto 275px auto;
}

.footer-text {
  line-height: 45px;
}

.btn-footer-group {
  width: 100%;
}

.btn-footer {
  display: block;
  width: 100%;
}

.video-container {
  padding-top: 56.25% !important;
  width: 100%;
  position: relative;
}

.video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 5px;
}

@media only screen and (min-width: 1200px) {
  .display-4 {
    font-size: 3.5rem;
  }

  .btn-lg {
    font-size: 1.25rem;
  }

  .main.container {
    margin: 30px auto 100px auto;
  }

  .video-container {
    width: 80%;
    padding-top: 45% !important;
  }

  .btn-footer-group {
    display: inline-block;
    float: right;
    width: auto;
  }

  .btn-footer {
    display: inline-block;
    width: auto;
  }
}